 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("images/0d67519895d75e8877309f035cda8c21.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  min-height: 334px;
  width: 1003px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 0 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0 20px 0 0;
}

.u-section-1 .u-line-1 {
  position: relative;
  width: 79px;
  transform-origin: left center 0;
  margin: 13px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 196px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 133px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 81px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 253px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 693px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 695px;
}

.u-section-2 .u-group-1 {
  width: 494px;
  min-height: 316px;
  margin: 10px auto 0 16px;
}

.u-section-2 .u-text-1 {
  margin: 30px 20px 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 20px 30px;
}

.u-section-2 .u-image-1 {
  height: 344px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  object-position: 50% 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 475px;
}

.u-section-2 .u-image-2 {
  object-position: 50% 85.2%;
  margin-top: 47px;
  margin-right: auto;
  margin-left: -66px;
  width: 623px;
  height: 402px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/df21f4103e1ccd293e25958758e515ee.jpeg");
  min-height: 221px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  background-image: url("images/d24809835c11161437746d663ca2a303.jpeg");
  min-height: 221px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  background-image: url("images/af39537dc15a183750c34218f01c36e3.jpeg");
  min-height: 221px;
  background-position: 50% 50%;
}

.u-section-2 .u-link-1 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-2 .u-group-1 {
    width: 407px;
    position: relative;
    margin-left: 13px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-image-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-2 .u-image-2 {
    width: 513px;
    height: 388px;
    position: relative;
    margin-top: 95px;
    margin-bottom: 37px;
    margin-left: -54px;
  }

  .u-section-2 .u-image-3 {
    min-height: 175px;
  }

  .u-section-2 .u-image-4 {
    min-height: 175px;
  }

  .u-section-2 .u-image-5 {
    min-height: 175px;
  }

  .u-section-2 .u-link-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 839px;
  }

  .u-section-2 .u-group-1 {
    width: 700px;
    min-height: 220px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-image-1 {
    height: 521px;
    margin-top: 40px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 601px;
  }

  .u-section-2 .u-image-2 {
    height: 488px;
    margin-top: -8px;
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-link-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2334px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 881px;
  }

  .u-section-2 .u-group-1 {
    width: 514px;
    min-height: 249px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-image-1 {
    height: 467px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 451px;
  }

  .u-section-2 .u-image-2 {
    height: 389px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    min-height: 372px;
  }

  .u-section-2 .u-image-4 {
    min-height: 335px;
  }

  .u-section-2 .u-image-5 {
    min-height: 329px;
  }

  .u-section-2 .u-link-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2043px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 972px;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    min-height: 298px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-image-1 {
    height: 344px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-2 .u-image-2 {
    height: 304px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    min-height: 233px;
  }

  .u-section-2 .u-image-4 {
    min-height: 246px;
  }

  .u-section-2 .u-image-5 {
    min-height: 261px;
  }

  .u-section-2 .u-link-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 507px;
}

.u-section-3 .u-group-1 {
  min-height: 359px;
  width: 1114px;
  margin: 62px auto 0 26px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 35px 98px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 98px 35px 0;
}

.u-section-3 .u-line-1 {
  position: relative;
  height: 380px;
  transform-origin: center top 0;
  width: 6px;
  margin: -370px auto 75px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-3 .u-group-1 {
    position: relative;
    width: 919px;
    margin-top: 51px;
    margin-left: 22px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-right: 81px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 81px;
  }

  .u-section-3 .u-line-1 {
    width: 5px;
    margin-top: -369px;
    margin-bottom: 41px;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-3 .u-group-1 {
    width: 704px;
    margin-top: 46px;
    margin-left: 19px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
    margin-bottom: 40px;
  }

  .u-section-3 .u-line-1 {
    width: 4px;
    margin-top: -370px;
    margin-bottom: 35px;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 528px;
    margin-left: 12px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-3 .u-line-1 {
    margin-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-3 .u-group-1 {
    min-height: 422px;
    width: 332px;
    margin-top: 48px;
    margin-left: 8px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-line-1 {
    height: 415px;
    transform-origin: center bottom 0;
    width: 8px;
    transform: rotate(0.2525deg);
    margin-top: -407px;
    margin-bottom: 40px;
    margin-left: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 775px;
}

.u-section-4 .u-image-1 {
  width: 723px;
  height: 448px;
  margin: 0 auto 0 417px;
}

.u-section-4 .u-image-2 {
  width: 340px;
  height: 376px;
  margin: -130px 80px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 393px;
  min-height: 412px;
  background-image: none;
  margin: -658px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  margin: 35px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 35px;
}

.u-section-4 .u-group-2 {
  width: 670px;
  min-height: 237px;
  margin: 9px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  margin: 57px 27px 0 16px;
}

.u-section-4 .u-line-1 {
  width: 669px;
  transform-origin: right center 0;
  height: 5px;
  transform: rotate(360deg);
  margin: 0 auto 76px 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-4 .u-image-1 {
    width: 596px;
    position: relative;
    margin-left: 344px;
  }

  .u-section-4 .u-image-2 {
    width: 280px;
    position: relative;
    margin-right: 66px;
  }

  .u-section-4 .u-group-1 {
    width: 324px;
    position: relative;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-group-2 {
    width: 552px;
    position: relative;
  }

  .u-section-4 .u-text-3 {
    position: relative;
    margin-right: 22px;
    margin-left: 13px;
  }

  .u-section-4 .u-line-1 {
    transform-origin: left center 0;
    width: 589px;
    margin-bottom: 85px;
    margin-left: 0;
    transform: none;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-4 .u-image-1 {
    width: 436px;
    height: 407px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 268px;
    height: 270px;
    margin-top: -89px;
    margin-right: 20px;
  }

  .u-section-4 .u-group-1 {
    width: 248px;
    min-height: 532px;
    margin-top: -552px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-2 {
    width: 423px;
  }

  .u-section-4 .u-text-3 {
    margin: 25px 20px 25px 10px;
  }

  .u-section-4 .u-line-1 {
    width: 423px;
    margin-bottom: 24px;
    margin-left: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-4 .u-image-1 {
    width: 342px;
    margin-left: 198px;
  }

  .u-section-4 .u-image-2 {
    width: 219px;
    height: 275px;
    margin-right: 9px;
  }

  .u-section-4 .u-group-1 {
    width: 190px;
    min-height: 579px;
    margin-top: -557px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-4 .u-group-2 {
    min-height: 262px;
    margin-top: 83px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 156px;
    margin-left: 8px;
  }

  .u-section-4 .u-line-1 {
    position: relative;
    width: 396px;
    transform: rotate(359.874deg);
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-4 .u-image-1 {
    height: 372px;
    margin-top: 398px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-2 {
    width: 250px;
    height: 270px;
    margin-top: -76px;
    margin-right: 6px;
  }

  .u-section-4 .u-group-1 {
    min-height: 326px;
    margin-top: -917px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-group-2 {
    width: 338px;
    margin-top: 591px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 20px;
    margin-left: 5px;
  }

  .u-section-4 .u-line-1 {
    width: 333px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("images/7398bfcaa52604d14224836fbbf5f296.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 589px;
}

.u-section-5 .u-group-1 {
  width: 874px;
  min-height: 420px;
  margin: 85px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  margin: 40px 20px 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-5 .u-btn-1 {
  border-radius: 37px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  border-style: none;
  margin: 30px auto 40px;
  padding: 10px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 721px;
    position: relative;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-btn-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 552px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 518px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}